body {
  font-family: Arial;
  text-align: center;
  background: #f0f0f0;
}

#ip {
  font-weight: bold;
}

p {
  text-align: center;
}

.card {
  background: white;
  margin: 20px auto;
  padding: 20px;
  width: 300px;
  border-radius: 10px;
  box-shadow: 0px 0px 10px gray;
}

button {
  padding: 10px;
  margin: 5px;
  width: 120px;
  font-size: 16px;
}

input {
  padding: 10px;
  width: 200px;
  font-size: 16px;
}

#weight {
  font-size: 40px;
  color: blue;
}

#bottleCount {
  font-size: 40px;
  color: green;
}